@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  font-family: "Red Hat Display";
}

::-webkit-scrollbar {
  width: 7px;
}

html {
  scroll-behavior: smooth;
}

/* Track */
::-webkit-scrollbar-track {
  background: #08173b;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #69b4ff;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #0a85ff;
}

.gradient-box {
  display: flex;
  align-items: center;

  position: relative;

  box-sizing: border-box;

  background: #000;
  background-clip: padding-box;
  /* !importanté */
  border: solid 4px transparent;
  /* !importanté */
}
.gradient-box:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin: -5px;
  /* !importanté */
  border-radius: inherit;
  /* !importanté */
  background: linear-gradient(
    93.51deg,
    rgba(49, 151, 254, 0.459) -36.63%,
    rgba(0, 227, 214, 0.29) 107.92%
  ) !important;
}
